.ExitBackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}
.ExitConfirmContainer{
    background-color: #60009b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.ExitConfirmContainer p{
    color: white;
    font-size: 1.2rem;
    text-align: center;
}
.ExitComfirmButtons{
    display: flex;
    gap: 20px;
}
.YesButton{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.YesButton:hover{
    background-color: #45a049;
}
.NoButton{
    padding: 10px 20px;
    background-color: #e1463b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.NoButton:hover{
    background-color: #d92012;
}